<section style="background-image: url('assets/images/adminhomebg3.jpg');" >
  <header>
    <div class="logosec">
      <div class="logo">MASN</div>
      <img src="assets/images/Screenshot 2023-12-12 192600.png" class="icn menuicn" id="menuicn" alt="menu-icon">
    </div>
    
    <div class="dp">

      <img src="assets/images/Users.png" class="dpicn" alt="dp">

    </div>
  </header>
  <div class="main-container">
    <div class="navcontainer">
      <nav class="nav">
        <div class="nav-upper-options">
          <div class="nav-option option1">
            <a routerLink="/admin/home">
              
              <h3 style="margin-left: 20px">Dashboard</h3>
            </a>
          </div>
         
          <div class="nav-option option6">
            <a routerLink="/admin/login">
              <img src="assets/images/logout.png" class="nav-img" alt="logout">
              <h3 style="margin-left: 20px" (click)="logout()">Logout</h3>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="main">
      <h1 style="padding-left: 50px;">Welcome Admin</h1>
      <br>
      <div class="box-container">
        <div class="box box1"style="background-color:#814d28">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/customer/viewcustomer" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Customer</h2>
            </a>
          </div>
          
        </div>
        <div class="box box2"style="background-color:#814d28">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/order/allorders" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Order</h2>
            </a>
          </div>
          
        </div>
        <div class="box box3"style="background-color:#814d28">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/product" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Product</h2>
            </a>
          </div>
         
        </div>
        <div class="box box4"style="background-color:#814d28">
          <div class="text">
            <h2 class="topic-heading"></h2>
            <a routerLink="/admin/payment/allpayment" style="text-decoration: none; color: white">
              <h2 class="topic" style="font-weight: bold">Show Payments</h2>
            </a>
          </div>
          
        </div>
      </div>

    </div>